.header{
    padding: 10px;
    font-size: 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:30px 70px;
}

.actions{
    display:flex;
    align-items:center;
    gap: 10px;
   justify-content: flex-end;
}

.button{
    padding: 10px;
    border: 1px solid var(--border);
    margin: 10px;
}

.button:hover{
    background: rgb(196, 195, 195);
}

